<div class="container">
  <div class="header">
    <div>
      <p>Select Page Size: </p>
    </div>
    <div>
      <select class="form-control" name="state" id="maxRows" #maxRows (change)="changePageSize(maxRows.value)">
        <option value="10" selected>10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="-1">Show ALL Rows</option>
      </select>
    </div>
  </div>
  <ng-container *ngIf="!!localData">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let heading of tableHeadings">{{ heading | titlecase }}</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data; let i = index">
            <td *ngFor="let column of tableHeadings">{{ row[column] }}</td>
            <td><button (click)="onClickButton(row)">Submit Status</button></td>
          </tr>
        </tbody>

      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="!showAll && totalPages > 1">
    <div class="page-box">
      <nav>
        <ul class="pagination">
          <li [ngClass]="currentPage == 1 ? 'disabled' : ''">
            <a class="" (click)="pageDecrement(1)">Previous</a>
          </li>
          <ng-container *ngIf="totalPages > 0">
            <li [ngClass]="currentPage ==1 ? 'active': ''" (click)="pageJump(1)">
              <a>1</a>
            </li>
            <ng-container *ngFor="let page of createPageNumber(); let first = first; let last = last;">
              <li *ngIf="first && page >2" (click)="pageDecrement(0)">
                <a>...</a>
              </li>

              <li [ngClass]="page === currentPage? 'active': ''" (click)="pageJump(page)">
                <a>{{page}}</a>
              </li>

              <li *ngIf="last && page > totalPages - 1" (click)="pageDecrement(8)">
                <a>...</a>
              </li>
            </ng-container>
            <li [ngClass]="currentPage === totalPages? 'active': ''" (click)="pageJump(totalPages)">
              <a>{{totalPages}}</a>
            </li>
          </ng-container>
          <li [ngClass]="currentPage === totalPages? 'disabled': ''">
            <a (click)="pageIncrement(1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </ng-container>
</div>
